{% load static %}
{% load compress %}
<!-- ================================
Start Navigation Bar
================================= -->
<header>
    <div class="bg-violet-500">
    <div class="container mx-auto">
        <div class="flex items-center">
        <div class="flex-shrink-0">
            <div class="logoCol"><a href="{% url 'main:home' %}"><img src="{% static 'images/logo.png' %}" alt="..."></a></div>
        </div>
        <div class="flex-grow">
            <div class="md:hidden">
            <button class="navToggle">
                <span class="navToggle__text">Toggle Menu</span>
            </button>
            </div>
            <div class="navCollapseCol">
            <div class="navCol">
                <ul class="space-y-3">
                <li class="text-yellow-500"><a href="{%url 'main:home'%}">Home</a></li>
                <li class="text-yellow-500"><a href="{%url 'main:portfolios' %}">Portfolio</a></li>
                <li class="text-yellow-500"><a href="{% url 'main:blogs' %}">Blog</a></li>
                <li class="text-yellow-500"><a href="{% url 'main:login' %}">Login</a></li>
                <li class="text-yellow-500"><a href="{% url 'main:logout' %}">Logout</a></li>
                <li class="text-yellow-500"><a href="{%url 'main:contact'%}">Contact</a></li>
                </ul>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    
</header>
<!-- ================================
End Navigation Bar
================================= -->
